* {
  margin: 0;
  padding: 0; }

body {
  background: antiquewhite; }

/*animaciones*/
h1 {
  text-align: center;
  animation-duration: 4s;
  animation-name: aparecer; }

@keyframes aparecer {
  from {
    opacity: 0;
    transform: translate(-800); }
  to {
    opacity: 1; } }

/* menu */
nav {
  background: blue;
  height: 1000%;
  max-width: 1000%;
  margin-left: auto;
  margin-top: auto; }
  nav ul {
    float: right;
    margin-right: 20px; }
    nav ul li {
      display: inline-block;
      /*para que se pongan en fila*/
      line-height: 80px;
      margin: 0 5px; }
      nav ul li a {
        color: black;
        font-size: 18px;
        border-radius: 3px;
        text-decoration: none; }

li a.ctive, li a:hover {
  background: #b87927;
  transition: 0.5s; }

.checkbtn {
  font-size: 30px;
  color: white;
  line-height: 80px;
  margin-right: 40px;
  display: none; }

#check {
  display: none; }

/*responsive del menu*/
@media (max-width: 858px) {
  .checkbtn {
    display: block; }
  ul {
    position: fixed;
    width: 40%;
    height: 50%;
    background-color: red;
    top: 80%; }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px; }
  li a:hover, ul li a {
    font-size: 20px; }
  #check:checked ul {
    left: 0; } }

section.banner {
  background: #eed5d5;
  padding: 3rem 0; }
  section.banner .conteinerB {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 2rem; }
    section.banner .conteinerB .col1 {
      display: flex;
      align-items: center;
      justify-content: center; }
      section.banner .conteinerB .col1 .imgBanner {
        width: 70%; }

/*CONTENIDO*/
.contenedor {
  display: grid;
  overflow: auto;
  grid-template-columns: repeat(3, 0.5fr);
  padding: 3rem 0; }

.sub-conteiner, .medios {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 4;
  height: 15%;
  font-size: 20px; }

.sub-titulo {
  display: inline;
  place-items: center;
  background-color: #122eca; }

.productos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-area: 1;
  margin: 0 auto;
  width: 90%;
  justify-items: center;
  align-items: center; }

.sub-productos {
  width: 70%;
  height: 400px;
  margin: 90px auto;
  outline: 3px solid;
  border-radius: 50px;
  box-shadow: 0px 15px 25px;
  cursor: pointer; }

.sub-productos > img {
  width: 100%;
  height: 100%;
  border-radius: 50px; }

/*Informacion*/
h3 {
  text-align: center; }

.center {
  text-align: center; }

/* MEDIOS DE PAGO */
.medios > img {
  height: auto;
  width: auto;
  max-height: 100px;
  max-width: 100px; }

/* Area como comprar */
.sub-infoc {
  margin: 10px; }

form label {
  display: inline-block;
  margin-bottom: 8px; }

form .form-group {
  margin-bottom: 16px; }

form .form-control {
  display: block;
  width: 100%;
  padding: 7px 12px;
  font-size: 1rem;
  line-height: 1.5;
  color: #fff;
  background-color: #4d4d4d;
  border: none;
  border-radius: 4px; }

/* Contact */
#contacto {
  padding: 60px 0; }

#contacto h2 {
  padding-bottom: 80px; }

#contacto form {
  width: 40%;
  margin: 0 auto; }

#contacto form button {
  width: 100%;
  border: none;
  border-radius: 5px; }

footer {
  width: 100%;
  height: 50px; }
