body{
    background-color: #abe9cd;
    background-image: linear-gradient(315deg, #76c5c1 0%, #3eadcf 74%);
    font-family: 'Comforter Brush', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Dongle', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-family: 'Mohave', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Overpass', sans-serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Signika Negative', sans-serif;
}