// MENU

nav{
    background: rgb(249, 228, 200);
    height: 80px;
    width: 100%;
    ul{
        float: right;
        margin-right: 20px;
        li{
            display: inline-block; /*para que se pongan en fila*/
            line-height: 80px;
            margin: 0 5px;
            a{
                color: rgb(0, 0, 0);
                font-size: 16px;
                padding: 7px 13px; 
                border-radius: 3px;
                text-decoration: none;
            }
    
        }

    }
}

li a.ctive, li a:hover{
    background: rgb(184, 121, 39);
    transition: 0.5s;
}
.checkbtn{
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    margin-right: 40px;
    line-height: 60px;
    display: none;
    cursor: pointer;

}
#check{
    display: none;
}