*{
    margin: 0;
    padding: 0;
}
@import "colores";
@import "variables";

body{
    background: #f8e2cf rgb(248, 226, 207) ;
}
/*animaciones*/

h1 {
    text-align: center;
    animation-duration: 4s;
    animation-name: aparecer;
}
@keyframes aparecer{
    from {
        opacity: 0;
        transform: translate(-800);
    }
    to {
        opacity: 1;
    }
}

// menu 
/* menu */
@import "menu";

/*responsive del menu para celular*/
@media (max-width: 768px){
    .checkbtn{
        display: block;
    }
    nav{
        height: 45px;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: rgb(221, 178, 114);
        top: 80px;
        left: -100%;/*es paara que no aparesca todo el color en la pantalla completa, osea lo hace invisible*/
        text-align: center;
        transition: all 0.5s;
        padding: auto;

    }
    nav ul li{
        display: block;
        margin: 60px 0;
        line-height: 30px
    }
    li a:hover, ul li a{
        background: none;
        color: blue;
    }
    #check:checked ~ ul{
        left: 0;
    }
}

/*RESPONSIVE Desing - es para que se adapte a la TABLET*/
@media (max-width: 992px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 18px; /*se aplica solo cuando se achica la pagina*/
    }
}


// BANNER
section.banner{
    background: $rosa;
    padding: 3rem 0;
    .conteinerB{
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: auto;
        grid-gap: 2rem;
        .col1{
            display: flex;
            align-items: center;
            justify-content: center;
            .imgBanner{
                width: 70%;

            }
        }
    }
    
}
/*CONTENIDO*/

.contenedor{
    display: grid;
    overflow: auto;
    grid-template-columns: repeat(3,0.5fr);
    padding: 3rem 0;
}
.sub-conteiner , .medios{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    height: 15%;
    font-size: 20px;
}
.sub-titulo{
    display: inline;
    place-items: center;
    background-color: rgb(18, 46, 202);
}
.productos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-area: 1;
    margin: 0 auto;
    width: 90%;
    justify-items: center;
    align-items: center;
}
.sub-productos{
    width: 70%;
    height: 400px;
    margin: 90px auto; 
    outline: 3px solid;
    border-radius: 50px;
    box-shadow: 0px 15px 25px;
    cursor: pointer;

} 
.sub-productos > img{
    width: 100%;
    height: 100%;
    border-radius: 50px;
}
/*Informacion*/

h3{
    text-align: center;
}
.center{
    text-align: center;
}
/* MEDIOS DE PAGO */
    
.medios >img{
    height: auto;
    width: auto;
    max-height: 100px;
    max-width: 100px;
}

/* Area como comprar */
.sub-infoc{
    margin: 10px;
}

// Formulario

form label {
    display: inline-block;
    margin-bottom: 8px;
}
form .form-group {
    margin-bottom: 16px;
}
  
form .form-control {
    display: block;
    width: 100%;
    padding: 7px 12px;
    font-size: 1rem;
    line-height: 1.5;
    color: #fff;
    background-color: #4d4d4d;
    border: none;
    border-radius: 4px;
}
/* Contact */
#contacto{
    padding: 60px 0;
    
}
  
#contacto h2{
    padding-bottom: 80px;
}
  
#contacto form{
    width: 40%;
    margin: 0 auto;
}
  
#contacto form button{
    width: 100%;
    border: none;
    border-radius: 5px;
}

footer{
    width: 100%;
    height: 50px;
}
  